html,
* {
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-content: center;
  font-family: Helvetica, sans-serif;
}
main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  margin-right: 1rem;
  margin-left: 1rem;

  text-align: center;
  line-height: 1em;
  width: 100px;
  height: 100px;

  color: white;
  background-color: #999;
}
button:hover {
  color: #999;
  background-color: white;
}

input {
  margin: 0;

  width: 140px;
  height: 100px;
  text-align: center;
}

input,
button {
  font-size: 5vmin;
  font-weight: 700;
  border: solid 5px #999;
  border-radius: 10px;
}

h1 {
  font-size: 16vmin;
}
